#
# Marlin 3D Printer Firmware
# Copyright (C) 2017 MarlinFirmware [https://github.com/MarlinFirmware/Marlin]
#
# Based on Sprinter and grbl.
# Copyright (C) 2011 Camiel Gubbels / Erik van der Zalm
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# Our automatic versioning scheme generates the following file
# NEVER put it in the repository
_Version.h

#
# OS
#
applet/
*.DS_Store


#
# Misc
#
*~
*.orig
*.rej
*.bak
*.idea
*.s
*.i
*.ii
*.swp
tags

#
# C++
#
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ino.cpp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#
# C
#
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# PlatformIO files/dirs
.pio*
.pioenvs
.piolibdeps
lib/readme.txt

#Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
Release/
Debug/
__vm/
.vs/
vc-fileutils.settings

#VScode
.vscode
.vscode/c_cpp_properties.json

#cmake
CMakeLists.txt
Marlin/CMakeLists.txt
CMakeListsPrivate.txt

#CLion
cmake-build-*
Marlin/example_configurations/AlephObjects/TAZ4/Configuration.h
Marlin/example_configurations/AliExpress/CL-260/Configuration.h
Marlin/example_configurations/Anet/A6/Configuration_adv.h
Marlin/example_configurations/Anet/A8/Configuration_adv.h
Marlin/example_configurations/BQ/Hephestos/Configuration.h
Marlin/example_configurations/BQ/Hephestos/Configuration_adv.h
Marlin/example_configurations/BQ/Hephestos_2/Configuration.h
Marlin/example_configurations/BQ/Hephestos_2/Configuration_adv.h
Marlin/example_configurations/BQ/WITBOX/Configuration.h
Marlin/example_configurations/BQ/WITBOX/Configuration_adv.h
Marlin/example_configurations/Cartesio/Configuration.h
Marlin/example_configurations/Cartesio/Configuration_adv.h
Marlin/example_configurations/Creality/CR-10/Configuration.h
Marlin/example_configurations/Creality/CR-10/Configuration_adv.h
Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration.h
Marlin/example_configurations/delta/FLSUN/auto_calibrate/Configuration_adv.h
Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration.h
Marlin/example_configurations/delta/FLSUN/kossel_mini/Configuration_adv.h
Marlin/example_configurations/delta/generic/Configuration.h
Marlin/example_configurations/delta/generic/Configuration_adv.h
Marlin/example_configurations/delta/kossel_mini/Configuration.h
Marlin/example_configurations/delta/kossel_mini/Configuration_adv.h
Marlin/example_configurations/delta/kossel_pro/Configuration.h
Marlin/example_configurations/delta/kossel_pro/Configuration_adv.h
Marlin/example_configurations/delta/kossel_xl/Configuration.h
Marlin/example_configurations/delta/kossel_xl/Configuration_adv.h
Marlin/example_configurations/Felix/Configuration.h
Marlin/example_configurations/Felix/Configuration_adv.h
Marlin/example_configurations/Felix/DUAL/Configuration.h
Marlin/example_configurations/FolgerTech/i3-2020/Configuration.h
Marlin/example_configurations/FolgerTech/i3-2020/Configuration_adv.h
Marlin/example_configurations/gCreate/gMax1.5+/Configuration.h
Marlin/example_configurations/gCreate/gMax1.5+/Configuration_adv.h
Marlin/example_configurations/Geeetech/GT2560/Configuration.h
Marlin/example_configurations/Geeetech/I3_Pro_X-GT2560/Configuration.h
Marlin/example_configurations/Infitary/i3-M508/Configuration.h
Marlin/example_configurations/Infitary/i3-M508/Configuration_adv.h
Marlin/example_configurations/makibox/Configuration.h
Marlin/example_configurations/makibox/Configuration_adv.h
Marlin/example_configurations/Malyan/M150/Configuration.h
Marlin/example_configurations/Malyan/M150/Configuration_adv.h
Marlin/example_configurations/Micromake/C1/basic/Configuration.h
Marlin/example_configurations/Micromake/C1/enhanced/Configuration.h
Marlin/example_configurations/Micromake/C1/enhanced/Configuration_adv.h
Marlin/example_configurations/RepRapWorld/Megatronics/Configuration.h
Marlin/example_configurations/RigidBot/Configuration.h
Marlin/example_configurations/RigidBot/Configuration_adv.h
Marlin/example_configurations/Sanguinololu/Configuration.h
Marlin/example_configurations/Sanguinololu/Configuration_adv.h
Marlin/example_configurations/SCARA/Configuration.h
Marlin/example_configurations/SCARA/Configuration_adv.h
Marlin/example_configurations/TinyBoy2/Configuration.h
Marlin/example_configurations/tvrrug/Round2/Configuration.h
Marlin/example_configurations/Velleman/K8200/Configuration.h
Marlin/example_configurations/Velleman/K8400/Configuration.h
Marlin/example_configurations/Velleman/K8400/Configuration_adv.h
Marlin/example_configurations/tvrrug/Round2/Configuration_adv.h
Marlin/example_configurations/Velleman/K8200/Configuration_adv.h
Marlin/example_configurations/Velleman/K8400/Dual-head/Configuration.h
Marlin/example_configurations/Wanhao/Duplicator 6/Configuration.h
Marlin/example_configurations/Wanhao/Duplicator 6/Configuration_adv.h
Marlin/example_configurations/wt150/Configuration.h
Marlin/example_configurations/wt150/Configuration_adv.h
Marlin/example_configurations/TinyBoy2/Configuration_adv.h
